*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

img {
	height: auto;
	-ms-interpolation-mode: bicubic;
}

img, object, embed {
	max-width: 100%;
}

code.block {
	display: block;
	white-space: pre-wrap;
	-moz-white-space: pre-wrap;
}

pre, code {
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}