.debug,
.debug.red {
	border: 1px solid rgba(255,0,0,.8);
	background-image: repeating-linear-gradient(135deg,
		rgba(255,0,0,.2) 0px,
		rgba(255,0,0,.2) 16px,
		rgba(255,0,0,0) 16px,
		rgba(255,0,0,0) 32px
	);
}

.debug.yellow {
	border: 1px solid rgba(255,255,0,.8);
	background-image: repeating-linear-gradient(135deg,
		rgba(255,255,0,.2) 0px,
		rgba(255,255,0,.2) 16px,
		rgba(255,255,0,0) 16px,
		rgba(255,255,0,0) 32px
	);
}

.debug.orange {
	border: 1px solid rgba(255,200,0,.8);
	background-image: repeating-linear-gradient(135deg,
		rgba(255,200,0,.2) 0px,
		rgba(255,200,0,.2) 16px,
		rgba(255,200,0,0) 16px,
		rgba(255,200,0,0) 32px
	);
}

.debug.green {
	border: 1px solid rgba(0,200,0,.8);
	background-image: repeating-linear-gradient(135deg,
		rgba(0,200,0,.2) 0px,
		rgba(0,200,0,.2) 16px,
		rgba(0,200,0,0) 16px,
		rgba(0,200,0,0) 32px
	);
}

.debug.blue {
	border: 1px solid rgba(0,127,255,.8);
	background-image: repeating-linear-gradient(135deg,
		rgba(0,127,255,.2) 0px,
		rgba(0,127,255,.2) 16px,
		rgba(0,127,255,0) 16px,
		rgba(0,127,255,0) 32px
	);
}

.debug.purple {
	border: 1px solid rgba(255,0,255,.8);
	background-image: repeating-linear-gradient(135deg,
		rgba(255,0,255,.2) 0px,
		rgba(255,0,255,.2) 16px,
		rgba(255,0,255,0) 16px,
		rgba(255,0,255,0) 32px
	);
}