/* overalls */
input, textarea, button, select, a.button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #0002;
	color: #000;
	border: 1px solid #0004;
	padding: .5rem;
}

input, button, select, a.button {
	vertical-align: middle;
}
input:not([type="file"]):not([type="radio"]):not([type="checkbox"]), button, select, a.button {}

/* Inputs of text type */
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
}

/* Inputs of button type */
a.button {
	display: inline-block;
}

a.button,
input[type="button"],
input[type="submit"],
input[type="color"],
input[type="reset"],
input[type="file"],
button,
select
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* Styling exceptions */
input[type="color"] {
	box-sizing: content-box;
	padding: .355rem;
}

input[type="file"] {
	padding: .26rem;
}
