/*@import 'grid-push.css';*/

:root {
	--gutter: 2rem;
	--gutter-half: calc(var(--gutter) / 2);
}

.flex, .row {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
}

.flex.wrap	{ flex-wrap: wrap }
.flex.nowrap	{ flex-wrap: nowrap }
.flex.align-start	{ align-items: flex-start }
.flex.align-center	{ align-items: center }
.flex.align-end	{ align-items: flex-end }
.flex.align-stretch	{ align-items: stretch }
.flex.align-baseline	{ align-items: baseline }
.flex.justify-start	{ justify-content: flex-start }
.flex.justify-center	{ justify-content: center }
.flex.justify-end	{ justify-content: flex-end }
.flex.justify-between	{ justify-content: space-between }
.flex.justify-around	{ justify-content: space-around }
.flex.row	{ flex-direction: row }
.flex.row-reverse	{ flex-direction: row-reverse }
.flex.column	{ flex-direction: column }
.flex.column-reverse	{ flex-direction: column-reverse }

.flex > .self-align-auto	{ align-self: auto }
.flex > .self-align-start	{ align-self: flex-start }
.flex > .self-align-end	{ align-self: flex-end }
.flex > .self-align-center	{ align-self: center }
.flex > .self-align-baseline	{ align-self: baseline }
.flex > .self-align-stretch	{ align-self: stretch }

.row {
	padding-left: var(--gutter-half);
	padding-right: var(--gutter-half);
}

.row .row {
	margin-left: calc(-1 * var(--gutter));
	margin-right: calc(-1 * var(--gutter));
}
.row-ctr {
	overflow-x: hidden;
}
.row > .col {
	padding-left: var(--gutter-half);
	padding-right: var(--gutter-half);
	width: auto;
	max-width: 100%;
	flex: 0 1 auto;
}
/* TESTING FEATURE! */
.row > .col.no-padding,
.row.no-padding > .col {
	padding-left: 0;
	padding-right: 0;
}

.semi-fixed-width {
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--gutter-half);
	padding-right: var(--gutter-half);
}
@media screen and (min-width: 1281px)	{ .semi-fixed-width { max-width: 1254px } }
@media screen and (max-width: 1280px)	{ .semi-fixed-width { max-width: 998px	} }
@media screen and (max-width: 1024px)	{ .semi-fixed-width { max-width: 742px	} }
@media screen and (max-width: 768px)	{ .semi-fixed-width { max-width: 542px	} }

.col.ua	{ width: auto; max-width: 100%; flex: 0 1 auto }
.col.ue	{ width: 0; min-width: 0; flex-grow: 1 }
.col.u1	{ width: 8.3333% }
.col.u2	{ width: 16.6667% }
.col.u3	{ width: 25% }
.col.u4	{ width: 33.3333% }
.col.u5	{ width: 41.6667% }
.col.u6	{ width: 50% }
.col.u7	{ width: 58.3333% }
.col.u8	{ width: 66.6667% }
.col.u9	{ width: 75% }
.col.u10	{ width: 83.3333% }
.col.u11	{ width: 91.6667% }
.col.u12	{ width: 100% }

@media screen and (min-width: 1281px) {
	.col.xla	{ width: auto; max-width: 100%; flex: 0 1 auto }
	.col.xle	{ width: 0; min-width: 0; flex-grow: 1 }
	.col.xl1	{ width: 8.3333% }
	.col.xl2	{ width: 16.6667% }
	.col.xl3	{ width: 25% }
	.col.xl4	{ width: 33.3333% }
	.col.xl5	{ width: 41.6667% }
	.col.xl6	{ width: 50% }
	.col.xl7	{ width: 58.3333% }
	.col.xl8	{ width: 66.6667% }
	.col.xl9	{ width: 75% }
	.col.xl10	{ width: 83.3333% }
	.col.xl11	{ width: 91.6667% }
	.col.xl12	{ width: 100% }

	.flex.xl-wrap	{ flex-wrap: wrap }
	.flex.xl-nowrap	{ flex-wrap: nowrap }
	.flex.xl-align-start	{ align-items: flex-start }
	.flex.xl-align-center	{ align-items: center }
	.flex.xl-align-end	{ align-items: flex-end }
	.flex.xl-align-stretch	{ align-items: stretch }
	.flex.xl-align-baseline	{ align-items: baseline }
	.flex.xl-justify-start	{ justify-content: flex-start }
	.flex.xl-justify-center	{ justify-content: center }
	.flex.xl-justify-end	{ justify-content: flex-end }
	.flex.xl-justify-between	{ justify-content: space-between }
	.flex.xl-justify-around	{ justify-content: space-around }
	.flex.xl-row	{ flex-direction: row }
	.flex.xl-row-reverse	{ flex-direction: row-reverse }
	.flex.xl-column	{ flex-direction: column }
	.flex.xl-column-reverse	{ flex-direction: column-reverse }

	.flex > .xl-self-align-auto	{ align-self: auto }
	.flex > .xl-self-align-start	{ align-self: flex-start }
	.flex > .xl-self-align-end	{ align-self: flex-end }
	.flex > .xl-self-align-center	{ align-self: center }
	.flex > .xl-self-align-baseline	{ align-self: baseline }
	.flex > .xl-self-align-stretch	{ align-self: stretch }
}

@media screen and (max-width: 1024px) {
	.col.mda	{ width: auto; max-width: 100%; flex: 0 1 auto }
	.col.mde	{ width: 0; min-width: 0; flex-grow: 1 }
	.col.md1	{ width: 8.3333% }
	.col.md2	{ width: 16.6667% }
	.col.md3	{ width: 25% }
	.col.md4	{ width: 33.3333% }
	.col.md5	{ width: 41.6667% }
	.col.md6	{ width: 50% }
	.col.md7	{ width: 58.3333% }
	.col.md8	{ width: 66.6667% }
	.col.md9	{ width: 75% }
	.col.md10	{ width: 83.3333% }
	.col.md11	{ width: 91.6667% }
	.col.md12	{ width: 100% }

	.flex.md-wrap	{ flex-wrap: wrap }
	.flex.md-nowrap	{ flex-wrap: nowrap }
	.flex.md-align-start	{ align-items: flex-start }
	.flex.md-align-center	{ align-items: center }
	.flex.md-align-end	{ align-items: flex-end }
	.flex.md-align-stretch	{ align-items: stretch }
	.flex.md-align-baseline	{ align-items: baseline }
	.flex.md-justify-start	{ justify-content: flex-start }
	.flex.md-justify-center	{ justify-content: center }
	.flex.md-justify-end	{ justify-content: flex-end }
	.flex.md-justify-between	{ justify-content: space-between }
	.flex.md-justify-around	{ justify-content: space-around }
	.flex.md-row	{ flex-direction: row }
	.flex.md-row-reverse	{ flex-direction: row-reverse }
	.flex.md-column	{ flex-direction: column }
	.flex.md-column-reverse	{ flex-direction: column-reverse }

	.flex > .md-self-align-auto	{ align-self: auto }
	.flex > .md-self-align-start	{ align-self: flex-start }
	.flex > .md-self-align-end	{ align-self: flex-end }
	.flex > .md-self-align-center	{ align-self: center }
	.flex > .md-self-align-baseline	{ align-self: baseline }
	.flex > .md-self-align-stretch	{ align-self: stretch }
}

@media screen and (max-width: 768px) {
	.col.sma	{ width: auto; max-width: 100%; flex: 0 1 auto }
	.col.sme	{ width: 0; min-width: 0; flex-grow: 1 }
	.col.sm1	{ width: 8.3333% }
	.col.sm2	{ width: 16.6667% }
	.col.sm3	{ width: 25% }
	.col.sm4	{ width: 33.3333% }
	.col.sm5	{ width: 41.6667% }
	.col.sm6	{ width: 50% }
	.col.sm7	{ width: 58.3333% }
	.col.sm8	{ width: 66.6667% }
	.col.sm9	{ width: 75% }
	.col.sm10	{ width: 83.3333% }
	.col.sm11	{ width: 91.6667% }
	.col.sm12	{ width: 100% }

	.flex.sm-wrap	{ flex-wrap: wrap }
	.flex.sm-nowrap	{ flex-wrap: nowrap }
	.flex.sm-align-start	{ align-items: flex-start }
	.flex.sm-align-center	{ align-items: center }
	.flex.sm-align-end	{ align-items: flex-end }
	.flex.sm-align-stretch	{ align-items: stretch }
	.flex.sm-align-baseline	{ align-items: baseline }
	.flex.sm-justify-start	{ justify-content: flex-start }
	.flex.sm-justify-center	{ justify-content: center }
	.flex.sm-justify-end	{ justify-content: flex-end }
	.flex.sm-justify-between	{ justify-content: space-between }
	.flex.sm-justify-around	{ justify-content: space-around }
	.flex.sm-row	{ flex-direction: row }
	.flex.sm-row-reverse	{ flex-direction: row-reverse }
	.flex.sm-column	{ flex-direction: column }
	.flex.sm-column-reverse	{ flex-direction: column-reverse }

	.flex > .sm-self-align-auto	{ align-self: auto }
	.flex > .sm-self-align-start	{ align-self: flex-start }
	.flex > .sm-self-align-end	{ align-self: flex-end }
	.flex > .sm-self-align-center	{ align-self: center }
	.flex > .sm-self-align-baseline	{ align-self: baseline }
	.flex > .sm-self-align-stretch	{ align-self: stretch }
}

@media screen and (max-width: 568px) {
	.col.xsa	{ width: auto; max-width: 100%; flex: 0 1 auto }
	.col.xse	{ width: 0; min-width: 0; flex-grow: 1 }
	.col.xs1	{ width: 8.3333% }
	.col.xs2	{ width: 16.6667% }
	.col.xs3	{ width: 25% }
	.col.xs4	{ width: 33.3333% }
	.col.xs5	{ width: 41.6667% }
	.col.xs6	{ width: 50% }
	.col.xs7	{ width: 58.3333% }
	.col.xs8	{ width: 66.6667% }
	.col.xs9	{ width: 75% }
	.col.xs10	{ width: 83.3333% }
	.col.xs11	{ width: 91.6667% }
	.col.xs12	{ width: 100% }

	.flex.xs-wrap	{ flex-wrap: wrap }
	.flex.xs-nowrap	{ flex-wrap: nowrap }
	.flex.xs-align-start	{ align-items: flex-start }
	.flex.xs-align-center	{ align-items: center }
	.flex.xs-align-end	{ align-items: flex-end }
	.flex.xs-align-stretch	{ align-items: stretch }
	.flex.xs-align-baseline	{ align-items: baseline }
	.flex.xs-justify-start	{ justify-content: flex-start }
	.flex.xs-justify-center	{ justify-content: center }
	.flex.xs-justify-end	{ justify-content: flex-end }
	.flex.xs-justify-between	{ justify-content: space-between }
	.flex.xs-justify-around	{ justify-content: space-around }
	.flex.xs-row	{ flex-direction: row }
	.flex.xs-row-reverse	{ flex-direction: row-reverse }
	.flex.xs-column	{ flex-direction: column }
	.flex.xs-column-reverse	{ flex-direction: column-reverse }

	.flex > .xs-self-align-auto	{ align-self: auto }
	.flex > .xs-self-align-start	{ align-self: flex-start }
	.flex > .xs-self-align-end	{ align-self: flex-end }
	.flex > .xs-self-align-center	{ align-self: center }
	.flex > .xs-self-align-baseline	{ align-self: baseline }
	.flex > .xs-self-align-stretch	{ align-self: stretch }
}

@media screen and (min-width: 0px) and (max-width: 568px) { .col.xs0 { display: none } }
@media screen and (min-width: 569px) and (max-width: 768px) { .col.sm0 { display: none } }
@media screen and (min-width: 769px) and (max-width: 1024px) { .col.md0 { display: none } }
@media screen and (min-width: 1025px) and (min-width: 1281px) { .col.u0 { display: none } }
@media screen and (min-width: 1281px) { .col.xl0 { display: none } }
