.col.push1	{ margin-left: 8.3333% }
.col.push2	{ margin-left: 16.6667% }
.col.push3	{ margin-left: 25% }
.col.push4	{ margin-left: 33.3333% }
.col.push5	{ margin-left: 41.6667% }
.col.push6	{ margin-left: 50% }
.col.push7	{ margin-left: 58.3333% }
.col.push8	{ margin-left: 66.6667% }
.col.push9	{ margin-left: 75% }
.col.push10	{ margin-left: 83.3333% }
.col.push11	{ margin-left: 91.6667% }
.col.push12	{ margin-left: 100% }

@media screen and (min-width: 1281px) {
	.col.xl-push1	{ margin-left: 8.3333% }
	.col.xl-push2	{ margin-left: 16.6667% }
	.col.xl-push3	{ margin-left: 25% }
	.col.xl-push4	{ margin-left: 33.3333% }
	.col.xl-push5	{ margin-left: 41.6667% }
	.col.xl-push6	{ margin-left: 50% }
	.col.xl-push7	{ margin-left: 58.3333% }
	.col.xl-push8	{ margin-left: 66.6667% }
	.col.xl-push9	{ margin-left: 75% }
	.col.xl-push10	{ margin-left: 83.3333% }
	.col.xl-push11	{ margin-left: 91.6667% }
	.col.xl-push12	{ margin-left: 100% }
}
@media screen and (max-width: 1024px) {
	.col.md-push1	{ margin-left: 8.3333% }
	.col.md-push2	{ margin-left: 16.6667% }
	.col.md-push3	{ margin-left: 25% }
	.col.md-push4	{ margin-left: 33.3333% }
	.col.md-push5	{ margin-left: 41.6667% }
	.col.md-push6	{ margin-left: 50% }
	.col.md-push7	{ margin-left: 58.3333% }
	.col.md-push8	{ margin-left: 66.6667% }
	.col.md-push9	{ margin-left: 75% }
	.col.md-push10	{ margin-left: 83.3333% }
	.col.md-push11	{ margin-left: 91.6667% }
	.col.md-push12	{ margin-left: 100% }
}

@media screen and (max-width: 768px) {
	.col.sm-push1	{ margin-left: 8.3333% }
	.col.sm-push2	{ margin-left: 16.6667% }
	.col.sm-push3	{ margin-left: 25% }
	.col.sm-push4	{ margin-left: 33.3333% }
	.col.sm-push5	{ margin-left: 41.6667% }
	.col.sm-push6	{ margin-left: 50% }
	.col.sm-push7	{ margin-left: 58.3333% }
	.col.sm-push8	{ margin-left: 66.6667% }
	.col.sm-push9	{ margin-left: 75% }
	.col.sm-push10	{ margin-left: 83.3333% }
	.col.sm-push11	{ margin-left: 91.6667% }
	.col.sm-push12	{ margin-left: 100% }
}

@media screen and (max-width: 568px) {
	.col.xs-push1	{ margin-left: 8.3333% }
	.col.xs-push2	{ margin-left: 16.6667% }
	.col.xs-push3	{ margin-left: 25% }
	.col.xs-push4	{ margin-left: 33.3333% }
	.col.xs-push5	{ margin-left: 41.6667% }
	.col.xs-push6	{ margin-left: 50% }
	.col.xs-push7	{ margin-left: 58.3333% }
	.col.xs-push8	{ margin-left: 66.6667% }
	.col.xs-push9	{ margin-left: 75% }
	.col.xs-push10	{ margin-left: 83.3333% }
	.col.xs-push11	{ margin-left: 91.6667% }
	.col.xs-push12	{ margin-left: 100% }
}
