/* Menu general */

.menu.fixed {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
}

.menu > ul {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	position: relative;
	padding: 0;
	margin: 0;
}

.menu a,
.menu .heading {
	display: block;
	text-decoration: none;
}

.menu a {
	color: #777;
}

.menu a,
.menu li.disabled,
.menu .heading {
	padding: 5px 10px;
}

.menu li.disabled {
	opacity: .5;
}

.menu li.disabled a:hover {
	background-color: transparent;
}

.menu li.active > a,
.menu a:hover,
.menu a:focus {
	background-color: #eee;
}

/*
.menu li.active > a:not(.trigo-liveedit-options),
.menu a:not(.trigo-liveedit-options):hover,
.menu a:not(.trigo-liveedit-options):focus {
	background-color: #eee;
}*/


/* HORIZONTAL MENU */

/*
.menu.horizontal {
	width: 100%;
}
*/

.menu.horizontal > ul {
	display: inline-block;
}
.menu.horizontal > ul > li {
	display: inline-block;
	vertical-align: middle;
}

/* Submenus should still be display: block; */
.menu li li {
	display: block;
}

.menu > ul > li ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	margin: 0;
	padding: 0;
	z-index: 3;
}

.menu.horizontal > ul li:hover > ul {
	display: block;
}

/* Level 2 */
.menu.horizontal > ul > li ul {
	background: #fff;
	left: 0;
	top: auto;
	width: inherit;
	white-space: nowrap;
}
/* Level >=3 */
.menu.horizontal > ul > li > ul > li ul {
	left: 100%;
	top: 0;
}


/* scrollable menus */

.menu.scrollable {
	overflow-y: scroll;
	overflow-x: hidden;
}

.menu.scrollable > ul {
	display: block;
}

.menu.horizontal.scrollable > ul {
	display: inline-block;
}

.menu.horizontal.scrollable {
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
	/* a little extra padding for this style to allow for scrollbars */
	padding: 8px 0;
}

.menu.horizontal.scrollable::-webkit-scrollbar {
	display: none;
}

/* misc default styling */

.menu .separator {
	background-color: #ccc;
	height: 1px;
	margin: .3em 0;
}

.menu.horizontal .separator {
	width: 1px;
	height: 1.3em;
	margin: 0 .3em ;
}

.menu.vertical > ul ul {
	display: block;
	position: relative;
	top: auto;
	left: auto;
	margin-left: 15px;
}


/* Vertical-Foldable Menu */

.menu.vertical.foldable > ul ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	white-space: nowrap;
	margin-left: 0;
}

.menu.vertical.foldable ul > li:hover > ul {
	display: block;
}

.menu.vertical.foldable.right > ul ul {
	right: 100%;
	left: auto;
}
